<!DOCTYPE html>

<html>

	<head>
		<title>Rango</title>
	</head>
	
	<body>
		<h1>Top Categories</h1>
		{% if categories %}
			<ul>
				{% for category in categories %}
				<!-- Following line changed to add an HTML hyperlink -->
				<li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		
		</br></br>
		<h1>Top Pages</h1>
		{% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no Pages!</strong>
		{% endif %}
		
		</br></br>
		
		<a href="/rango/add_category/">Add a New Category</a>
		</br></br>
		<a href="/rango/register/">Register Here</a>
		</br></br>
		<a href="/rango/about/">About</a>
	</body>
	</br></br>
	
</html>