{% extends 'rango/base.html' %}

{% block title %}Index Page{% endblock %}
	
{% block body_block %}
		{% if user.is_authenticated %}
		<h1>Rango says... Hello {{ user.username }}!</h1>
		{% else %}
		<h1>Rango says... Hello Person that is not logged in!</h1>
		{% endif %}
		<h3>Top Categories</h3>
		{% if categories %}
			<ul>
				{% for category in categories %}
				<!-- Following line changed to add an HTML hyperlink -->
				<li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
				
		<h3>Top Pages</h3>
		{% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no Pages!</strong>
		{% endif %}
{% endblock %}